.navbar {
  background: #5133a4;
  min-height: 70px;
  position: fixed;
  width: 100%;
  z-index: 99;
  color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  white-space: nowrap;
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  width: 33.3%;
  color: white;
  padding: 26px 0;
  font-family: sans-serif;
}

.navbar a {
  font-weight: 900;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}
